<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
</head>
<body>
<form th:action="@{/reg-auth/auth}" th:object="${userAuth}" method="post">
    <label><input type="text" th:field="*{loginAuthUser}"/>login</label>
    <p th:if="${#fields.hasErrors('loginAuthUser')}" th:errors="*{loginAuthUser}"></p>
    <label></label><input type="text" th:field="*{passwordAuthUser}"/>password</label>
    <p th:if="${#fields.hasErrors('passwordAuthUser')}" th:errors="*{passwordAuthUser}"></p>
    <button>Authorization</button>
</form>
</body>
</html>