<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration and Authorization</title>
</head>
<body>
<form th:action="@{/home/reg}" th:object="${userReg}" method="post">
    name<input type="text" th:field="*{nameUserDTO}"/>
    <p th:if="${#fields.hasErrors('nameUserDTO')}" th:errors="*{nameUserDTO}"></p>
    login<input type="text" th:field="*{loginUserDTO}"/>
    <p th:if="${#fields.hasErrors('loginUserDTO')}" th:errors="*{loginUserDTO}"></p>
    password <input type="text" th:field="*{passwordUserDTO}"/>
    <p th:if="${#fields.hasErrors('passwordUserDTO')}" th:errors="*{passwordUserDTO}"></p>
    <button>Registration</button>
</form>
<form th:action="@{/home/auth}" th:object="${userAuth}" method="post">
    login<input type="text" th:field="*{loginAuthUser}"/>
    <!--        <p th:if="${#fields.hasErrors('loginAuthUser')}" th:errors="*{loginAuthUser}"></p>-->
    password <input type="text" th:field="*{passwordAuthUser}"/>
    <!--        <p th:if="${#fields.hasErrors('passwordAuthUser')}" th:errors="*{passwordAuthUser}"></p>-->
    <button>Authorization</button>
    <!--    Hello <p th:text="${session.userAuth.getLoginAuthUser()}"></p>-->
</form>
<div th:object="${postsOnTheFirstPage}">
    <ul>
        <div th:if="${session.userAuth}">
            <a th:href="@{/add/post}">Add post</a>
            <div th:each="item:${postsOnTheFirstPage}">
                <a th:href="@{/posts/post-posts}">
                    <div th:text="${item.getTitle()}"></div>
                </a>
            </div>
        </div>
        <div th:unless="${session.userAuth}">
            <div th:each="item:${postsOnTheFirstPage}" th:text="${item.getTitle()}"></div>
        </div>
        <div th:each="item:${postsOnTheFirstPage}" th:text="${item.getText()}"></div>
        <div th:each="item:${postsOnTheFirstPage}" th:text="${item.getDate()}"></div>
    </ul>
</div>
</body>
</html>