<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post tape</title>
</head>
<body>
<form th:action="@{/posts/post-posts}" th:object="${postsOnTheFirstPage}" method="post">
    <ul>
        <li th:each="item:${postsOnTheFirstPage}" th:text="${item.getTitle()}"></li>
        <li th:each="item:${postsOnTheFirstPage}" th:text="${item.getText()}"></li>
        <li th:each="item:${postsOnTheFirstPage}" th:text="${item.getDate()}"></li>
    </ul>
        <div th:object="${comment}">
        Comment<input type="text" th:field="*{text}"/>
        </div>
    <button>Add comment</button>
</form>
</body>
</html>